

body {
}

#browser {
	display:block;
	background-image: url('images/Chrome_browser.png');
	background-size: 100%;
	background-repeat:no-repeat;
	max-height: 100%;
	max-width: 100%;
}

#fakepage {
	position: relative;
	margin-top: 7%;
}

#extension {
	position: absolute;
	top: 6.5%;
	right: 3.5%;
	height: 4%;
	width: auto;
}

#img_icon {
	height: 100%;

}

#fakepage {
	height: 1000px;
	width: 100%;
}

#controlpanel {
	height: 350px;
	width: 350px;
	position: absolute;
	right: 1%;
	top: 11%;
	background-color: #F0F8FF;
	border-style: solid;
	border-color: #F8F8FF;
	border-width: 5px;
	border-radius: 5px;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 35px;
	display: none;
	opacity: 0.95;
}

#container {
    margin: 0px auto;
    width: 200px;
    height: 150px;
    border: 10px #B0C4DE solid;
    border-radius: 5px;
    position: relative;
}
#videoElement {
    width: 200px;
    height: 150px;
    background-color: #666;
}

#rec {
	display: inline;
	top: 5px;
	right: 5px;
}

#friendscontainer {
	display: none;
	position: absolute;
	top: 200px;
	left: 0px;
	width: 350px;
}

.friend {
	width: 25px;
	height: 25px;
	background-color: grey;
	margin: 15px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

#send {
	width: 50px;
	height: 50px;
	background-color: red;
	position: absolute;
	top: 50px;
	right: 150px;
}


#sent_msg {
	position: absolute;
	display: none;
	top: 170px;
	left: 100px;
}